*{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
box-sizing: border-box;
}
body{
    background-color:#fff;
    color: #080808 ;
    margin: 0;
    padding: 0;
}
#header{
    width: 100%;
    height: 120vh;
    background-image: url("image/mimi-thian-BYGLQ32Wjx8-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    position: sticky;
    z-index: 100;
    width: 100%;

}
.logo{
    width: 90px;

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004F;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover:after{
    width: 100%;

}
.header-text{
   /* text-align: center; */
  margin-left: 10vh; 
  margin-right: 15vh;

    
    

}
.header-text h1{
    
    margin-top: 15px;

}
.header-text h1 span{
    color:  #14b4e4;
}
.container-text{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10%;
    height: max-content;
    
}
.container-textone{
    background-image: url("image/cours5.png");
    background-position: center;
    background-size: cover;
    width: 50%;
    justify-content: right;
   
}
.container-texttwo{
    
    color: rgb(91, 77, 77);
    width: 50%;
    justify-content: left; 

}
.container-texttwo h1{
    
    align-items: center;
    margin-top: 20%;
    margin-left: 25%;
}
.container-texttwo strong{
    margin-left: 20%;
    
    margin-top: 5%;
   
}


.container-texttwo p span{
    color: #14b4e4;
}
.footer{
    margin-top: 10%;
    min-height: 35vh;
    width: 100%;
    color: aliceblue;
   
}
.footer h1{
    color:  #14b4e4;

    margin-left: 30%;
    margin-right: 30%; 
    margin-top: 15%;
}
.container-text-img{
    min-height:20% ;
    width: 50%;
    background-position: center;
    background-size: cover;
    justify-content: center;
    margin-top: 5%;

 }



.cours-container-partone{
    display: flex;
    max-width: 100%; 
    min-height: 150vh;
}


.after-footer{
    min-height:20vh ;
    width: 100%;
    position: absolute;
    color: #080808;
    background-color:#fff;
    border: 5px solid  #14b4e4;
    border-top-left-radius: 15%;
    
    
}
.after-footer-one{
    display: flex;
    flex-wrap: wrap;
    position:relative ;
    margin-bottom: 3%;
    min-height: 7vh;
    width: 100%;
   
}

.after-footer-one .one{
    position: relative;
    flex: 1;
    margin-left: 15%;
    margin-right: 5%;
    padding-top: 5%;
    
}
.after-footer-two{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 3%;
    min-height: 7vh;
    width: 100%;
    
}
.after-footer-two .two{
    position: relative;
    margin-top: 5%;
    margin-left: 15%;
    margin-right:5% ;
    padding-top: 3%; 
    
}
#icone{
   font-size: 40px;
}
.after-footer span h3{
    padding-bottom: 20px;
}
.after-footer .after-footer-one .one i{
   height: 40px;
   width: 40px;
   color: #14b4e4;
}
.after-footer .after-footer-two .two i{
   height: 40px;
   width: 40px;
   color: #14b4e4;
}


          /*css de la partie "cours.html"
           */

           .paddin{
            margin-top: 0;
            padding-left: 20%;
            padding-right: 20%;
            background-color: #14b4e4;
            min-height: 20vh;
            color: #080808;
        }
.cours-container-partone .cours-container-image{
  background-image: url("image/coursimg3.png");
  background-position: center;
  background-size: cover;
  width: 65%;
  min-height: 100%;
  justify-content: right;
        
}
.cours-container-center-zero{
   min-height: 15vh;
   width: 50%;
   margin-left: 25%;
   background-color: #14b4e4 ;
   border-radius: 15px;
   margin-top: 20vh;

}
.cours-container-center-zero h1{
    text-align: center;
    padding-top: 6vh;
    
}
.cours-container-center-moins{
    min-height: 10vh;
    width: 40%;
    margin-left: 30%;
    margin-top: 10vh;
    background-color:white ;
    border-radius: 15px;
    border: #14b4e4 solid 5px ; 
    color: rgb(64, 60, 60);
}
.cours-container-center-moins h1{
    text-align: center;
    padding-top: 10px;
    
}

.cours-container-partone .cours-container-image h3 {
    margin-top: 20%;
    margin-left: 15%;
    
}

.cours-container-partone .cours-container-text{
    width: 45%;
    min-height: 100%;
    justify-content: left;
    color: #14b4e4;
    text-align: center;

}
.cours-container-partone .cours-container-text h2{
margin: 10% 30%;
}
.cours-container-partone .cours-container-text P{
    margin: 10% 10%;
    }

    /*
     */

     .cours-container-center-un {
        display: flex;
        flex-wrap: wrap;
        height:80vh ;
        width: 100%;
        background-color: #14b4e4;
        margin-top: 10vh;
     }
     .cours-container-center-un .center-un{
      height: 60vh;
        max-height:70vh ;
        width: 25%;
       max-width: 30%;
        margin-top: 15vh;
        flex: 1;
        border-radius: 30px;
        margin-left: 4%;
        margin-bottom: 5vh;
        margin-right: 4%;
        background-color: #fff;
        position: relative ;

     }
     .cours-container-center-un .center-un .uner{
        margin-top: 0;
        min-height: 15vh;
        width: 100%;
        background-color: #b4d9e4;
        border-radius: 15px ;
        position:absolute;

     }
     .uner{
      margin-bottom: 10px;
     }
     .center-un .uner h1{
        text-align: center;
        margin: 40px 5px;
     } 
     .center-un h3{
      text-align: center;
      margin: 25vh 5px;
        /* margin-top: 35vh; */
        /* margin-left: 30px; */
        /* margin-right: 30px; */
        
        color: rgb(64, 60, 60);
     }
      .center-deux-zero h1{
     text-align: center;
     min-height: 10vh;
     max-width: 40%;
     margin-left: 30%;
     margin-top: 10vh;
     padding-top: 10px;
     background-color:white ;
     border-radius: 15px;
     border: #61cebe solid 5px ; 
     color:    rgb(64, 60, 60);
    }

     .cours-container-center-deux{
        display: flex;
        flex-wrap: wrap;
        height:80vh ;
        width:100% ;
        background-color:  #fff;
        margin-top: 10vh;
     }
     .cours-container-center-deux .center-deux-unis{
        height:60vh ;
        max-height: 70vh;
        width: 25%;
        max-width: 30%;
        flex: 1;
        margin-top: 15vh;
        margin-bottom: 5vh;
        border-radius: 30px;
        margin-left: 4%;
        margin-right: 4%;
        background-color: #14b4e4;
        position: relative ;
     }
      
     .center-deux-unis .deux-unis {
        margin-top: 0;
        min-height: 15vh;
         width: 100%;
        background-color: #b4d9e4;
        border-radius: 15px ;
        position:absolute;
     }
     .deux-unis{
      margin-bottom: 10px;
     }
     .center-deux-unis .deux-unis h1{
        text-align: center;
        margin: 40px 5px;
       
     }
      .center-deux-unis h3{
         text-align: center;
         margin: 25vh 5px;
        /* margin-top: 35vh; */
        /* margin-left: 30px; */
        /* margin-right: 30px; */
        color: rgb(64, 60, 60);
     }

   .apres{
      background-image: url("image/Campus-Transfo-expertise-teleconduite-reseau.jpg");
      background-size: cover;
     min-height: 120vh;
     color: whitesmoke;
     margin-top: 5vh;
     
   }
   .apres header{
      text-align: center;
      margin-top: 5vh;
      color: whitesmoke;
   }
   .apres p h1{
      color: whitesmoke;
      text-align: center;
      margin-top: 5vh;

   }
   .apres p strong{
      color: rgb(13, 105, 242);
      text-align: center;
      margin-top: 5vh;

   }
   .apres .apres-fin{
      display: flex;
      
      flex-wrap: wrap;
      height: 80vh;
      max-width: 90vh;
      

   }
   .apres-fin .fin{
      height: 70vh;
      max-height:80vh ;
      width: 25%;
       max-width: 40%;
      margin-left: 7%;
      margin-top: 5vh;
      margin-bottom: 5vh;
      flex: 1;
      background-color:rgb(2, 37, 89) ;
      opacity: 0.5;
      border-radius: 30px;
      color: whitesmoke;
      text-align: center;
      position: relative;
      
   }
   .fin h2{
      opacity: 5;
      text-align: center;
      margin-top: 15vh;
      
   }
   .fin img{
      margin-top: 20vh;
      justify-content: center;
      opacity: 100%;
   }

     /* css de la partie tarif.html 
     */

     /* .section-un {

     } */

     .tarif-un {
        height:200vh ;
        max-height: 210vh;
        width: 100%;
        max-width:110% ;
        margin-top: none;
        

     }
     .tarif-un-zero {
      height: 100vh;
        min-height: 90vh;
        width: 100%;
        max-width: 110%;
        margin-top: 5vh;
     }
     .un-zero-two{
        margin-top: 2%;
        min-height: 10vh;
         max-width: 50%;
        margin-left: 25%;
        border-radius: 15px;
        background-color:#07b1f4;
     }
     .un-zero-two h2 {
        padding-top: 2vh;
        text-align: center;
        color: rgb(64, 60, 60);
        
     }
     .un-zero-three{
        margin-top: 5%;
        min-height: 6vh;
         max-width: 40%;
        margin-left: 30%;
        border-radius: 30px;
        border: #0af3f3 solid 3px; 
     }
     .un-zero-three h3 {
        padding-bottom: 5px;
        text-align: center;
        color: rgb(64, 60, 60);
     }
      
     .tarif-un-deux {
        border-radius: 100%;
        margin-top: -20vh;
        margin-right: -20vh;
        margin-left: 60%;
        border: #07b1f4 solid 20px;
        min-height: 90vh;
        max-width: 50%;
        align-items: flex-end;
        z-index: 1;
        background-image:url("image/cours4.png") ;
        background-repeat: no-repeat;
     }
     /* .tarif-un-deux {
        
     } */
     .un-zero-fore {
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
        max-height: 110vh;
        width: 100%;
        max-width: 110%;
        
        
     }
     .un-zero-fore .zero-fore{
        height: 70vh;
        min-height:80vh ;
        width: 25%;
        max-width: 30%;
        margin-top: 15vh;
        margin-left:5%;
        margin-right: 3%;
        flex: 1;
        color: rgb(64, 60, 60);
        border-radius: 15px;
        background-color: #14b4e4;
        position: relative;
     }
     .zero-fore h2 {
        text-align: center;
       /* margin-left: 40px; */
        margin: 40px 40px;
     }
     .zero-fore h3 {
      text-align: center;
        margin: 30px 5px ;
     }
     .zero-six{
        min-height: 160vh;
        max-width: 100%;
        margin-top: 10vh;
     }
     .zero-six .zero-six-sevn{
        margin-top: 5%;
        min-height: 8vh;
        max-width: 40%;
        margin-left: 30%;
        border-radius: 30px;
        background-color:#14b4e4  ; 
        margin-bottom: 5%;
        
     }
     .zero-six .zero-six-sevn h1{
        text-align: center;
        color: rgb(64, 60, 60);
        padding-bottom: 5px;
        padding-top: 5px;
     }
     

     .un-zero-five {
        display: flex; 
        flex-wrap: wrap;
        height:90vh ;
        max-height: 100vh;
        width: 100%;
        background-color: #07b1f4;
     }
     .un-zero-five .zero-five{
        height:70vh ;
        max-height:80vh;
        width: 25%;
        max-width: 30%;
        margin-top: 15vh;
        margin-left:5%;
        margin-right: 3%;
        flex: 1;
        color :rgb(64, 60, 60) ;
        border-radius: 15px;
        background-color:white;
        position: relative;
     }
     .un-zero-five .zero-five h2 {
        text-align: center;
       
        margin: 40px 5px;
     }
     .un-zero-five .zero-five h3{
      text-align: center;
        margin: 30px 5px ;
        
     }

     .section-deux-zero{
      margin-top: 150vh;
        min-height: 100vh;
        max-width: 100%;
        background-image: url("image/ordinateur2.webp");
        background-position: center;
        background-size: cover;
     }
     .section-deux-zero .deux-zero{
       
        min-height: 30vh;
        max-width: 100%;
        margin-bottom: 30vh;
        background-color:#fff;
        color: rgb(64, 60, 60); 
     }
     .section-deux-zero .deux-zero h3{
        text-align: center;
        padding-top: 13vh;
        
     }
     .section-deux-zero .deux-zero-null{
        min-height: 50vh;
        max-width: 100%;
     }




     /* css de la partie commencer.php
     */

     .section-un-commencer{
        display: flex;
        height: 150vh;
        width: 100%;
     }


     @media (max-width:375px) {
      .cours-container-center-un{
         flex-direction: row;
      }
       .center-un{
         flex:100%;
         max-width: 350px;
      } 
      .un-zero-fore{
         flex-direction: row;
      }
      .zero-fore{
         flex:100%;
         max-width: 350px;
         
      }
      .un-zero-five{
         flex-direction: row;
      }
       .zero-five{
         flex:100%;
         max-width: 350px;
         
      }
      .apres-fin{
         flex-direction: row;
      }
       .fin{
         flex:100%;
         max-width: 350px; 
         
      }
      .cours-container-center-deux{
         flex-direction: row;
      }
       .center-deux-unis{
         flex:100%;
         max-width: 350px; 
         flex-direction: row;
      }
     }
     